.side_bar_wrapper {
    width: 240px;
}

.title {
    background-color: #B082E0;
    margin: 0;
    padding: 35px 0 0 40px;
    cursor: pointer;
}

.nav {
    background-color: #B082E0;
}

.li {
    border: none !important;
    background-color: #B082E0;
    cursor: pointer;
}

/* .li :hover {
    text-decoration: underline;
} */

.img {
    height: 16px;
    vertical-align: bottom;
}

.link ::after {
    position: absolute;
    left: 0;
    bottom: -4px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    content: '';
    width: 0;
    display: block;
    height: 2px;
    background-color: #fff
}

.logo {
    height: 38px;
}

.menu {
    padding: 10px 32px 32px;
}

.side_info {
    width: 240px;
    padding: 20px 20px 0;
}

.movie_thumb {
    width: 40px;
    height: 40px;
}

.movie_thumb img {
    width: 100%;
    border-radius: 10px;
}