.nav {
    background-color: transparent;
}

.li {
    border: none !important;
    background-color: #B082E0;
}

.img {
    height:16px;
    vertical-align: bottom;
}

.img {
    height:16px;
    vertical-align: bottom;
}

.logo {
    height: 38px;

}
