.switch_button {
    background-color: transparent;
    border-color: transparent;
    position: relative;
    z-index: 1;

}

.switch_button:hover {
    background-color: transparent !important;
    border-color: transparent !important;
    opacity: 0.7;
}

.switch_button>img {
    border-radius: 50%;
    background-color: #cccccc;
    height: 80px;
}

.switch_button::before {
    position: absolute;
    top: -15px;
    left: 22%;
    height: 11px;
    width: 60px;
    background:url('/assets/change_txt.svg');
    content: "";
    background-size: 100%;
}
