.switch_button {
    background-color: #cccccc;
    border-radius: 50%;
    position: relative;
    height: 80px;
    width: 80px;
    z-index: 1;
    cursor: pointer;
    display: grid;
    place-items: center;
}

.switch_button:hover {
    opacity: 0.7;
}

.switch_button>img {
    border-radius: 50%;
}

.switch_button::before {
    position: absolute;
    top: -21px;
    left: 12%;
    height: 11px;
    width: 60px;
    background: url('/assets/change_txt.svg');
    content: "";
    background-size: 100%;
}